@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    padding: 40px 0;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish {
    background-color: whitesmoke;
    opacity: 60%;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 65px;
    color: #75B79E;
    display: contents;
}

.mesa {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 47px;
}

.card {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    position: relative;
    margin: 0 17px 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    cursor: pointer;
}

.card div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    backface-visibility: hidden;
}

div img {
    width: 90px;
    height: 90px
}

.card.virar,
.card.parCerto {
    transform: rotateY(180deg);
    cursor: initial;
    pointer-events: none;
}

.front-face {
    transform: rotateY(180deg);
}

.card.virar .back-face,
.card.parCerto .back-face {
    transform: rotateY(180deg);
}

.card.virar .front-face,
.card.parCerto .front-face {
    transform: rotateY(0);
}

.temporizador,
.pontuacao {
    background-color: rgb(136 247 175);
    height: 38px;
    width: 90px;
    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(101 187 131);
    box-shadow: 2px 1px 5px dimgrey;
    position: fixed;
    right: 0;
    top: 98px;
    color: darkslategray;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.pontuacao {
    width: 230px;
    justify-content: flex-start;
    padding: 0 4px;
    right: auto;
    left: 0;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 767px) {
    .titulo {
        display: contents;
    }

    h1 {
        font-size: 36px;
        line-height: 42px;
        display: flex;
    }

    .temporizador {
        width: 60px;
        top: 3px;
    }

    .pontuacao {
        display: none;
    }
}